.footer {
  font-size: 170%;
  text-align: right;
  position: fixed;
  bottom: 0;
  background-color: #0E8299;
  width: 100%;

  height: 100px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
  min-height: 100%;
}

.jumbotron {
  text-align: center;
  background-color: #148C1A;
  color: #CCC8C8;
}

a {
  color: #0E8299;
}

.catalognav {
  text-align: right;
}

dd {
  padding-bottom: 7px;
}
dt {
  padding-top: 15px;
}

.overdue {
  color: #79B511;
  font-weight: bold;
}

.footerlink {
  margin-left: 20px;
  color: #12BA79;
}

.footerlink:hover {
  color: #84C413;
}

.form-control {
  width: 80%;
}

.text-muted {
  color: #CCC8C8;
}

.col-md-3 {
  border-left: solid #CCC8C8 1px;
}

.leftcolumn {
  border-right: solid #CCC8C8 1px;
}

.rightcolumn {
  border-left: solid #CCC8C8 1px;
}

a.list-group-item:hover, a.list-group-item:focus {
  background-color: #786D0B;
  color: #CCC8C8;
}

a:hover {
  color: #0E6313;
}
